<div class="optionsGroup">

  Scope:
  <mat-button-toggle-group #group="matButtonToggleGroup" [value]="chartRange" (change)="onRangeChange(group.value)">
    <mat-button-toggle value="Day">
      Day
    </mat-button-toggle>
    <mat-button-toggle value="Week">
      Week
    </mat-button-toggle>
    <mat-button-toggle value="Month">
      Month
    </mat-button-toggle>
    <mat-button-toggle value="All">
      All
    </mat-button-toggle>
    <mat-button-toggle value="Range">
      Custom
    </mat-button-toggle>
  </mat-button-toggle-group>

  <span *ngIf="chartRange == 'Range'">
    <mat-form-field>
      <input matInput [matDatepicker]=" startDate" placeholder="Start Date" [value]="leaveStart" disabled
        formControlName="startDate" (dateChange)="datesChanged('start', $event)">
      <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
      <mat-datepicker #startDate disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endDate" placeholder="End Date" [value]="leaveEnd" disabled
        formControlName="endDate" (dateChange)="datesChanged('end', $event)">
      <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
      <mat-datepicker #endDate disabled="false"></mat-datepicker>
    </mat-form-field>
  </span>

</div>
<!-- Table goes here -->
<div class="mat-elevation-z8 leaveTable">
  <table mat-table [dataSource]="dataSource" class="full-width-table" aria-label="Elements">
    <!-- Id Column -->
    <!-- <ng-container matColumnDef="ObsId">
        <th mat-header-cell *matHeaderCellDef >Id</th>
        <td mat-cell *matCellDef="let row">{{row.ObsId}}</td>
      </ng-container> -->

 <!-- Time Out Column -->
    <ng-container matColumnDef="TimeOut">
      <th mat-header-cell *matHeaderCellDef>Leave Start</th>
      <td mat-cell *matCellDef="let row">{{row.TimeOut | date: 'HH:mm dd/MM/yyyy'}}</td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>Type of leave</th>
      <td mat-cell *matCellDef="let row">
        {{row.Type}}
      </td>
    </ng-container>

       <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let row">
        {{row.Description}}
      </td>
    </ng-container>

    <ng-container matColumnDef="IsCurrent">
      <th mat-header-cell *matHeaderCellDef>On leave</th>
      <td mat-cell *matCellDef="let row">
        {{row.IsCurrent}}
      </td>
    </ng-container>

    <ng-container matColumnDef="TimeRetDue">
      <th mat-header-cell *matHeaderCellDef>Due Back</th>
      <td mat-cell *matCellDef="let row">{{row.TimeRetDue | date: 'HH:mm dd/MM/yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="TimeRetActual">
      <th mat-header-cell *matHeaderCellDef>Returned</th>
      <td mat-cell *matCellDef="let row">{{row.TimeRetActual | date: 'HH:mm dd/MM/yyyy'}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="leaveTableColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: leaveTableColumns;" (click)="showDialog(row)"></tr>
  </table>

  <!-- <mat-paginator #paginator2 [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="8"
    [pageSizeOptions]="[5, 8, 20]">
  </mat-paginator> -->

</div>


