
<mat-toolbar color="primary" class="noMargin">
	<mat-toolbar-row>
      <img src= "../../assets/img/shieldLogoA.png"  >
		<h1>SAS</h1>
		<span class="menu-spacer"></span>
		<div>
			<!-- <a mat-button [routerLink]="'/login'"> Login </a> -->
			<a mat-button [routerLink]="'/home'"> Home Page </a>
			<a mat-button [routerLink]="'/dashboard'"> Dashboard</a>
			<a mat-button [routerLink]="'/sas-checks'"> SAS Checks </a>
			<a mat-button [routerLink]="'/patients'"> Patients </a>
			<a mat-button [routerLink]="'/messages'"> Messages </a>
			<a mat-button [routerLink]="'/admin'"> Admin </a>
		</div>
		<mat-form-field class="navBar">
			<mat-select placeholder="Ward?" [(ngModel)]="selectedWard" (ngModelChange)="onWardChanged()">
			  <mat-option *ngFor="let ward of wards" [value]="ward.value">
				{{ ward.viewValue }}
			  </mat-option>
			</mat-select>
		  </mat-form-field>

		<span class= "userText">Current user {{username$ | async}} </span>
		<span class="menu-spacer"></span>
		<div>
			<button mat-raised-button color="warn" (click)="LogOut()">Logout</button>
		</div>
	</mat-toolbar-row>

</mat-toolbar>