.navBar {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100px;
    font-size: 16px;
    background-color : rgb(139, 32, 239);
  }

  .userText {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 16px;
    margin: 10px;
    
  }

