.wrapper {
    display: grid;
    height: 90vh;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3fr 3fr 1fr 1fr;
  
    grid-template-areas:   "logo message logoR"
                          "logo error logoR"
                          "logo footer logoR"
                          "logo footer1 logoR";
  }

  .logo {
      grid-area: logo;
  }

  .logoR {
    grid-area: logoR;
}

  .message {
      grid-area: message;
  }

  .footer {
      grid-area: footer;
  }
  .footer1 {
    grid-area: footer1;
}

  .error {
    grid-area: error;
    color: #D8000C;
    background-color: #FFD2D2;
}

