<div class="wrapper">
  <img src="../../assets/img/shieldSplash.png" class="logo">
  <img src="../../assets/img/shieldSplash.png" class="logoR">
  <div class="message">
    <h1>Oops! </h1>
    <h2>Something went wrong</h2>
    <div class="error">
      {{errorMessage$ | async}}
    </div>
  </div>
  <div class="footer">
    <button mat-raised-button color="primary" (click)="onHomeClick()">Return to home page</button>
  </div>
  <div class="footer1">
    <button mat-raised-button color="primary" (click)="onLoginClick()">Goto to login page</button>
  </div>
</div>
