.wrapper {
  display: grid;
  height: 90vh;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 30px auto 20px;

  grid-template-areas:   "sidebar content1"
                        "sidebar content1"
                        "footer footer";
}

/* .detail-header {
    padding-left: 10px;
    padding-top: 5px;
    grid-area: header;
} */
.detail-sidebar {
    grid-area: sidebar;
  background-color: rgb(220, 230, 255);
}

.details {
  padding-left: 10px;;
}

.leave {
  width: 180px;
  margin-left: 10px;
  background-color: rgb(255, 255, 0);
}

.menu {
margin-top: 15px;
 margin-left: 20px;
  width: 180px;
  background-color: cyan;
}

.detail-main {
    grid-area: content1;
  /* background-color: aquamarine; */
  padding: 10px;
}

.detail-footer {
    grid-area: footer;
    background-color: red;  
}


.bgc {
  background: white !important;
  justify-content: flex-end;
}

