<div class="wrapper">
  <div class="detail-sidebar">
    <div class="details">
      <h3>Patient Details</h3>
      <h4> {{(selectedPt$ | async).FirstName }} {{(selectedPt$ | async).MidName }} {{(selectedPt$ | async).LastName }}
      </h4>
      <small>DoB: {{(selectedPt$ | async).Birthdate | date: 'dd/MM/yyyy'}} <br />
        NHS no. {{(selectedPt$| async).NHSno }} <br />
        Last Seen:{{((selectedPt$ | async).LastSeen +'Z') | date: ' HH:mm dd/MM/yyyy'}}</small>
    </div>

    <div class ="leave" [hidden]="!leaveStatus()">Patient is on leave</div>

    <div class="menu">
      <Span>Select Option</Span>
      <mat-nav-list>
        <a mat-list-item [ngClass]="{bgc:Item.isActive}" (click)="menuClick(Item)" *ngFor="let Item of Menu">
          {{Item.label}} </a>
      </mat-nav-list>
    </div>
  </div>
  <div class="detail-header">
    Header goes here!
  </div>
  <div class="detail-main">
    <!-- <div *ngIf="selectedPt$ | async; let pt">
      <h3> {{pt?.FirstName}}</h3>
      <h3> {{pt.FullName}}</h3>
    </div> -->
    <router-outlet></router-outlet>
  </div>
  <div class="detail-footer">
    Space reserved for footer
  </div>
</div>
