.optionsGroup {
  padding: 0 !important;
}

.spacer {
  margin-left: 10px;
}


mat-form-field {
  width: 130px !important;
  margin-left: 15px;
}

table {
  width: 100%;
}

tr.mat-row, tr.mat-header-row {
  height: 36px;
}

.obsTable {
  margin-top: 10px;
  height: 400px;
  overflow: auto;
}

.chart2{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  grid-template-areas:   "heading heading"
                         "chart legend";
}

.heading{
  grid-area: heading;
}
.placeholder {
  grid-area: chart;
}
.legend{
  grid-area: legend;
}


